<html>
    <head> </head>
    <style>
        .input-group {
            display: flex;
        }

        .partisan-slider {
            width: 90%;
            accent-color: white;
            display: inline-block;
        }

        .partisan-text {
            display: inline-block;
            width: 10%;
        }

        .partisan-slider::-webkit-slider-runnable-track {
            background: linear-gradient(to right, #0f4392, #dd1717);
            border-radius: 10px;
        }

        .turnout-slider {
            width: 90%;
            accent-color: white;
            height: var(--slider-height);
        }

        .turnout-text {
            display: inline-block;
            width: 10%;
        }

        .turnout-slider::-webkit-slider-runnable-track {
            background: linear-gradient(to right, black, lightgray);
            border-radius: 10px;
        }

        .demographic-label {
            display: inline;
        }

        .demographic-turnout {
            float: right;
        }

        .dropdown-container {
            position: relative;
        }

        .dropdown-container:hover::after {
            position: absolute;
            left: 0%;
            top: 20px;
            content: attr(hover-text);

            font-size: 12px;
            background-color: rgb(191, 199, 28);
            color: black;
            opacity: var(--hover-text-opacity, 1);
        }
    </style>

    <body>
        This interactive seeks to emulate the
        <a href="https://www.cookpolitical.com/swingometer">Cook Swingometer</a>
        for counties, as inspired by
        <a
            href="https://twitter.com/_fat_ugly_rat_/status/1611871675255255042?s=20&t=8fW_fB__3cNrzBpwO-66NA"
            >this Tweet</a
        >.

        <br />

        <label for="race">Exit polls:</label>
        <span class="dropdown-container">
            <select
                id="race"
                onchange="initializeDataFromInputs()"
            >
                <!-- <option value="2016-pres">2016 President</option>
            <option value="2020-pres">2020 President</option> -->
            </select>
        </span>

        <label for="demographics">Demographics:</label>
        <span class="dropdown-container">
            <select
                id="demographics"
                onchange="initializeDataFromInputs()"
            >
                <!-- <option value="2016-pres">2016</option>
        <option value="2020-pres">2020</option> -->
            </select>
        </span>

        <label for="subdivision">Subdivision:</label>
        <span class="dropdown-container">
            <select
                id="subdivision"
                onchange="initializeDataFromInputs()"
            >
                <option value="state">State</option>
                <option value="county">County</option>
            </select>
        </span>

        <br />
        <br />

        <div id="sliders">
            <span>
                <h3 style="display: inline-block">Demographics</h3>
                <input
                    type="button"
                    id="reset-button"
                    value="Reset"
                    onclick="resetSliders()"
                />
            </span>

            <div id="white-nocollege">
                <div>
                    <h4 class="demographic-label">
                        White, non-college graduate
                    </h4>
                    <div class="demographic-turnout"></div>
                </div>

                <label for="white-nocollege-partisan-slider"
                    >Republican voteshare, %</label
                >
                <br />
                <span class="input-group">
                    <input
                        id="white-nocollege-partisan-slider"
                        class="partisan-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="partisan-text"
                        type="text"
                    />
                </span>
                <br />
                <label for="white-nocollege-turnout"
                    >Turnout of voting age citizens, %</label
                >
                <br />
                <span class="input-group">
                    <input
                        id="white-nocollege-turnout"
                        class="turnout-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="turnout-text"
                        type="text"
                    />
                </span>
            </div>
            <br />
            <div id="white-college">
                <div>
                    <h4 class="demographic-label">White, college graduate</h4>
                    <div class="demographic-turnout"></div>
                </div>
                <span class="input-group">
                    <input
                        class="partisan-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="partisan-text"
                        type="text"
                    />
                </span>
                <br />
                <span class="input-group">
                    <input
                        class="turnout-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="turnout-text"
                        type="text"
                    />
                </span>
            </div>
            <br />
            <div id="black">
                <div>
                    <h4 class="demographic-label">Black/African-American</h4>
                    <div class="demographic-turnout"></div>
                </div>

                <span class="input-group">
                    <input
                        class="partisan-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="partisan-text"
                        type="text"
                    />
                </span>
                <br />
                <span class="input-group">
                    <input
                        class="turnout-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="turnout-text"
                        type="text"
                    />
                </span>
            </div>
            <br />
            <div id="hispanic">
                <div>
                    <h4 class="demographic-label">Hispanic/Latino</h4>
                    <div class="demographic-turnout"></div>
                </div>
                <span class="input-group">
                    <input
                        class="partisan-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="partisan-text"
                        type="text"
                    />
                </span>
                <br />
                <span class="input-group">
                    <input
                        class="turnout-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="turnout-text"
                        type="text"
                    />
                </span>
            </div>
            <br />
            <div id="asian-other">
                <div>
                    <h4 class="demographic-label">Asian/Other</h4>
                    <div class="demographic-turnout"></div>
                </div>
                <span class="input-group">
                    <input
                        class="partisan-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="partisan-text"
                        type="text"
                    />
                </span>
                <br />
                <span class="input-group">
                    <input
                        class="turnout-slider"
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        step="0.1"
                    />
                    <input
                        class="turnout-text"
                        type="text"
                    />
                </span>
            </div>
        </div>
        <br />
        <p>
            <small
                >Hover over a dropdown for the citation, and right-click to
                navigate to the data source.
                <b
                    >You may need to allow pop-ups and tabs in your browser's
                    settings for datasets from multiple URLs.</b
                ></small
            >
        </p>
    </body>
    <script src="/js/swingometer/initialize.js"></script>

    <script>
        async function main() {
            addMouseEffects(raceDropdown);
            addMouseEffects(demographicsDropdown);

            coupleSlidersAndTextInputs();

            await initializeAndSortDropdownLabels();
            await initializeDataFromInputs();
            await updateDemographicTurnout();
        }

        main();
    </script>
</html>
