<style>
    .container {
        width: auto;
        height: 520px;
        white-space: nowrap;
        overflow-x: scroll;
    }
    .container > img {
        max-height: 500px;
        display: inline-block;
        margin-left: 4px;
        border: 2px solid black;
    }
</style>

<center>
    <div class="container">
        <img src='/assets/hackery/sheets1.png'>
        <img src='/assets/hackery/sheets2.png'>
        <img src='/assets/hackery/sheets3.png'>
        <img src='/assets/hackery/sheets4.png'>
        <img src='/assets/hackery/sheets5.png'>
        <br>
    </div>
    <i>The private Google Sheets page</i>
</center>